server {
    listen 0.0.0.0:${PORT};
    # IPv6 зарим Railway region-д асуудал үүсгэдэг
    # listen [::]:${PORT};

    server_name _;
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # Static assets cache
    location ~* \.(?:css|js|jpg|jpeg|gif|png|svg|ico|woff2?)$ {
        expires 7d;
        add_header Cache-Control "public";
    }
}
